.Nav {
  background-color: #0e0c0c;
  display: flex;
  padding: 10px 20px;
  flex-direction: row-reverse;
}

.boton {
  padding: 10px 20px;
  margin-left: 20px;
  background-color: #4f0b0b;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  border: 0px;
  transition: all 0.2s ease-in-out;
}

.boton:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 5px #4f0b0b, 0 0 8px #4f0b0b, 0 0 10px #4f0b0b, 0 0 13px #4f0b0b, 0 0 15px #4f0b0b;
  background-color: #310707;
  color: #fff;
  cursor: pointer;
}

.boton:not(:hover) {
  transform: scale(1);
  box-shadow: none;
}

.boton:active {
  transform: translateY(0);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  background-color: #555;
  color: #fff;
  transition: all 0.2s ease-in-out;
  animation-name: pulse;
  animation-duration: 0.3s;
}