.FormPage {
    display: flex;
    position: relative;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e3f2fd;
    box-shadow: 0 0 15px #000000;
    transition: all 0.2s ease-in-out;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

.FormPage div{
    padding: 15px;
}

.FormPage .error {
    color: red;
    padding: 10px;
}

.selectedCountries {
    list-style: none;
    padding: 0
}

.item {
    color: #333;
    position: relative;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.item .item-name {
    font-size: 17px;
    font-weight: 400;
    padding: 5px;
}

.item .item-close {
    display: inline-block;
    align-content: center;
    justify-content: center;
    background-color: #e7edfe;
    border: 1px solid;
    border-radius: 50px;
}
.item .item-close:hover {
    background-color: #333;
    cursor: pointer;
    color: #fff;
}

.fa-regular fa-circle-xmark:hover {
   cursor: pointer;
}



.select-btn {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
}

.select-btn .btn-text {
    font-size: 17px;
    font-weight: 400;
    color: #333;
}

.select-btn .arrow-down {
    display: flex;
    height: 21px;
    width: 21px;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    background: #6e93f7;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.select-btn.open~.arrow-down {
    transform: rotate(-180deg);
}

.list-items {
    position: relative;
    background-color: #fff;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.1);
    display: none;
}

.select-btn.open~.list-items {
    display: block;
}

.list-items .item {
    list-style: none;
    display: flex;
    align-items: center;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}

.list-items .item:hover {
    background-color: #e7edfe;
}

.item .item-text {
    font-size: 16px;
    font-weight: 400;
    color: #333;

}

.item .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}

.item.checked .checkbox {
    background-color: #4070f4;
    border-color: #4070f4;
}

.checkbox .check-icon {
    color: #fff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}

.item.checked .check-icon {
    transform: scale(1);
}

#exit {
    position: absolute;
    top: 15px;
    left: 15px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #c1121f;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border: 0px;
    transition: all 0.2s ease-in-out;
}

#exit:hover {
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 5px #4f0b0b, 0 0 8px #4f0b0b, 0 0 10px #4f0b0b, 0 0 13px #4f0b0b, 0 0 15px #4f0b0b;
    background-color: #780000;
    cursor: pointer;
    font-weight: bold;
}

#exit:not(:hover) {
    transform: scale(1);
    box-shadow: none;
}

#exit:active {
    transform: translateY(0);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    background-color: #555;
    color: #fff;
    transition: all 0.2s ease-in-out;
    animation-name: pulse;
    animation-duration: 0.3s;
}