.FormPage {
    height: 100vh;
    display: flex;
    position: relative;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00C9C8;
    box-shadow: 0 0 15px #000000;
    transition: all 0.2s ease-in-out;
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.FormPage div {
    padding: 15px;
}

.FormPage .error {
    color: red;
    padding: 10px;
}

.selectedCountries {
    list-style: none;
    padding: 0
}

.submit-btn {
    display: flex;
    padding: 10px 20px;
    margin: 10px;
    background-color: #009292;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border: 0px;
    transition: all 0.2s ease-in-out;
}

.submit-btn:hover {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    color: #333;
    transform: scale(1.1);
    cursor: pointer;
    font-weight: bold;
}

.submit-btn:active {
    transform: translateY(0);
    transition: all 0.2s ease-in-out;
}

#exit {
    position: absolute;
    top: 15px;
    left: 15px;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 30px;
    background-color: #b32907;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border: 0px;
    transition: all 0.2s ease-in-out;
}

#exit:hover {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    color: #000;
    transform: scale(1.1);
    cursor: pointer;
    font-weight: bold;
}

#exit:active {
    transform: translateY(0);
    transition: all 0.2s ease-in-out;
}

.item {
    padding: 8px;
    position: relative;
    margin: 10px;
    background-color: #73f7f7cb;
    border-radius: 8px;
}

.item .item-name {
    margin: 15px;
}

.item .item-close {
    position: absolute;
    right: 10px;
    border: none;
    color: #000;
    font-size: 15px;
    background-color: #009292;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.item .item-close:hover {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    color: #fff;
    transform: scale(1.05);
    cursor: pointer;
    font-weight: bold;
}

.item .item-close:active {
    transform: translateY(0);
    transition: all 0.2s ease-in-out;
}