.Card {
  margin-top: 30px;
  color: #002829;
  text-decoration: none;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #00C9C8;
  transition: all 0.2s ease-in-out;
  width: 15%;
}

.Card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.Card h1 {
  align-self: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.Card p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 5px;
  color: #002829;
  text-decoration: none;
  font-weight: bold;
  margin-top: auto;
  align-self: center;
}

.Card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #000000;
  background-color: #023047;
  cursor: pointer;
  color: #fff;
}

.Card:hover p {
  color: #fff;
}

.Card:not(:hover) {
  transform: scale(1);
  box-shadow: none;
}