.Card {
  margin-top: 30px;
  color: #000000;
  text-decoration: none;
  box-shadow: 0 0 1000px #000000;
  /* border: 1px solid #000000; */
  /* border-radius: 5px; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #219ebc;
  transition: all 0.2s ease-in-out;
  width: 15%;
}

.Card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.Card h1 {
  align-self: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.Card p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 5px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  margin-top: auto;
  align-self: center;
}

.Card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px #000000;
  background-color: #023047;
  cursor: pointer;
  color: #fff;
}

.Card:hover p {
  color: #fff;
}

.Card:not(:hover) {
  transform: scale(1);
  box-shadow: none;
}