.input {
  font-size: 16px;
  height: 35px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  outline: none;
  width: 300px;
}

.search-btn {
  padding: 10px 20px;
  margin: 10px;
  background-color: #009292;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  border: 0px;
  transition: all 0.2s ease-in-out;
}

.search-btn:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  color: #333;
  transform: scale(1.1);
  cursor: pointer;
  font-weight: bold;
}

.search-btn:active {
  transform: translateY(0);
  transition: all 0.2s ease-in-out;
}