#filters {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    margin-top: 70px;
  }
  
  #first {
    padding: 10px;
    display: flex;
    align-items: center;
    margin-right: 30px;
  }

  #second {
    padding: 10px;
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  
  #filters label {
    margin-right: 5px;
  }
  
  #filters select {
    margin: 5px;
    padding: 5px;
    width: 100px;
  }
  
  #filters button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #009292;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border: 0px;
    transition: all 0.2s ease-in-out;
  }
  
  #filters button:hover {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    color: #333;
    transform: scale(1.1);
    cursor: pointer;
    font-weight: bold;
  }
  
  #filters button:active {
    transform: translateY(0);
    transition: all 0.2s ease-in-out;
  }

  #filters .clear{
    padding: 10px 20px;
    margin: 10px;
    background-color: #b32907;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border: 0px;
    transition: all 0.2s ease-in-out;
  }
  
  #filters .clear:hover {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
    cursor: pointer;
    font-weight: bold;
  }
  
  #filters .clear:active {
    transform: translateY(0);
    transition: all 0.2s ease-in-out;
  }

  
  