.Cards {
  justify-content:center;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
}

.Cards div {
  justify-content: flex-start;
}

.count {
  max-width: 1200px;
  margin: 0 auto;
  font-weight: bold;
}