.Landing {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: url(https://wallpaperaccess.com/full/2223123.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.container {
  border: 3px solid rgba(255, 255, 255, 0.595);
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff7f;
  padding: 50px;
  border-radius: 10px;
}

.Landing .github {
  background-color: #ffffff90;
  border-radius: 10px;
  height: 50px;
  padding: 10px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  transition: all 0.2s ease-in-out;
}

.Landing .github:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  color: #fff;
  transform: scale(1.05);
  cursor: pointer;
  font-weight: bold;
}

.Landing .linkedIn {
  background-color: #ffffff90;
  border-radius: 10px;
  height: 50px;
  padding: 10px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  transition: all 0.2s ease-in-out;
}

.Landing .linkedIn:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  color: #fff;
  transform: scale(1.05);
  cursor: pointer;
  font-weight: bold;
}

#boton {
  padding: 10px 20px;
  background-color: #b32907;
  color: #000;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  border: 0px;
  transition: all 0.2s ease-in-out;
}

#boton:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  color: #fff;
  transform: scale(1.1);
  cursor: pointer;
  font-weight: bold;
}

#boton:active {
  transform: translateY(0);
  transition: all 0.2s ease-in-out;
}

#welcome {
  margin-top: 10px;
  background-color: #ffffff90;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px;
  color: #000;
}